absl-py==0.12.0
amqp==5.0.2
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.1
astunparse==1.6.3
attrs==20.1.0
backcall==0.2.0
billiard==3.6.3.0
bleach==3.1.5
cachetools==4.2.2
celery==5.0.5
certifi==2020.11.8
cffi==1.14.2
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.2
djangorestframework==3.12.2
dominate==2.6.0
entrypoints==0.3
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.4.1
flatbuffers==1.12
gast==0.4.0
google-auth==1.30.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
gunicorn==20.0.4
h5py==3.1.0
httpie==2.3.0
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kombu==5.0.2
lazy-object-proxy==1.4.3
Markdown==3.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
modern-robotics==1.1.0
mysql-connector-python==8.0.22
mysqlclient==2.0.1
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.3
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.17.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
pylint==2.5.2
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.25.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rope==0.18.0
rsa==4.7.2
Send2Trash==1.5.0
six==1.15.0
SQLAlchemy==1.3.17
sqlparse==0.4.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==5.0.3
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==5.0.0
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
